<div class="scroll-container"
     malihu-scrollbar
     [scrollbarOptions]="scrollbarOptions">
    <header class="col-12 col-m-12 col-p-12">
        <div id="primero_logo"></div>
    </header>
    <div id="out_container" class="col-5 col-m-9 col-p-12">
        <h2>Welcome!</h2>
        <h3>Welcome to Primero Home loans Questionnaire Application.</h3>
        <p>This interview is intended to narrow down <br />the appropriate products and collect initial info <br />about you. So it gives you expectations<br />in terms of your mortgage options.</p>
        <a href="javascript:;" [routerLink]="['/questions/yn']">
            <span id="start_button">Get Started</span>
        </a>
    </div>

</div>
<footer class="flex column column-center">
    <div class="footer-home-p">Application Provider :</div>
    <div id="hw_logo_home"></div>
</footer>